<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SmokeTests" parallel="false">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>

    <test name="Available Films Test" verbose="1">
        <classes>
            <class name="AvailableFilmsTest"/>
        </classes>
    </test>
</suite>